.item {
    width: 100%;
    padding: 0 25px 0 10px !important;
    color: var(--text-color);
    background-color: transparent;
    height: unset;
    line-height: 35px;
    display: block;
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--font-base);
    font-weight: bold;
    white-space: normal;

    &.active {
        color: var(--hover);
    }

    svg {
        transition: all 0.5s;

        &.active {
            transform: rotate(180deg);
            transition: all 0.5s;
        }
    }

    &:first-child {
        padding-top: 10px;
    }
}

.item-small {
    overflow: hidden;
    display: none;
    max-height: 0px;
    max-width: 0px;
    position: absolute;
    top: 100%;
    left: auto;
    width: 220px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
    z-index: 99;

    &.active {
        width: 100%;
        display: block;
        position: relative;
        top: 0;
        max-height: unset;
        box-shadow: none;
        max-width: unset;
    }

    .item-small-children {
        padding: 0 25px 0 10px !important;
        color: var(--text-color);
        height: unset;
        display: block;
        line-height: 35px;
        font-weight: 400;
        white-space: normal;

        &:first-child {
            padding-top: 10px;
        }
    }
}
