.form-search {
    min-width: 230px;
    height: 5.2rem;
    border-radius: 5px;
    position: relative;

    input {
        width: 100%;
        height: 4rem;
        min-height: 4rem;
        line-height: 4rem;
        padding: 0 60px 0 10px;
        overflow: hidden;
        background: #fff;
        border-radius: 25px !important;
        color: #999ea1;
        border: solid 1px #fff;
    }

    .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cart-wrapper {
    position: relative;
    height: 4rem;
    width: 4rem;
    border: solid 1px #fff;
    border-radius: 4rem;
    background: #fff;
    cursor: pointer;

    .bage {
        position: absolute;
        top: -5px;
        left: 27px;
        background: var(--main-color);
        color: #fff;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.1rem;
        text-align: center;
        border-radius: 3px;
    }
}

// Responsive
@media (max-width: 991px) {
    .form-search {
        width: calc(100% - 120px);

        input {
            border: solid 1px var(--main-color);
        }
    }

    .cart-wrapper {
        border: solid 1px var(--main-color);
    }
}

@media (max-width: 991px) and (max-width: 767px) {
    .form-search {
        width: calc(100% - 0px);
    }

    .cart-wrapper {
        position: absolute;
        top: -60px;
        right: 10px;
    }
}
