.cate-item {
    &.cate-small {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        min-width: 130px;

        .image {
            &.image-small {
                width: 35px;
                height: 35px;
                display: block;
                border-radius: 35px;
                overflow: hidden;

                img {
                    max-height: 100%;
                    transition: all 0.5s;
                    width: auto;
                    height: unset;
                    transition: all 0.5s;
                }
            }
        }

        a {
            .title-cate {
                &.title-small {
                    font-size: 1.4rem;
                    margin-bottom: 0;
                    padding-left: 10px;
                }
            }
        }

        &:hover {
            .image {
                &.image-small {
                    img {
                        transform: rotate(380deg);
                        transition: all 0.5s;
                    }
                }
            }
        }
    }

    &.cate-large {
        width: 130px;
        margin: 0 20px 0 0;
        padding: 0 0px;
        height: 100%;
        text-align: center;
        display: inline-block;

        .image {
            &.image-large {
                margin-bottom: 10px;
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 12px !important;

                img {
                    width: auto !important;
                    height: unset !important;
                    max-height: 100%;
                    background: #f8f8f8;
                    transition: all 0.5s;
                }
            }
        }

        a {
            .title-cate {
                &.title-large {
                    font-family: var(--font-base);
                    font-size: 1.4rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--text-color);
                    font-weight: bold;
                }
            }
        }

        &:hover {
            .image {
                &.image-large {
                    img {
                        transform: scale(1.1);
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}
