.section-slider {
    padding: 20px 15px;
}

.section-flash {
    margin-top: 25px;
}

.section-outstanding {
    padding-top: 10px;
}

.section-banner {
    padding: 30px 10px;
    margin: 0 auto;
}

.section-top {
    padding-bottom: 30px;
}

.section-deal {
    padding: 0 10px;
}

.section-coupon {
    margin: 30px auto;
}

.section-best {
    margin: 10px 0 30px;
    padding: 40px 0 30px;
    background-color: var(--bg-best-sale);
}

.section-news {
    padding: 0 0 30px;
}

.section-services {
    padding: 10px 10px 20px;
}
